# user data and binaries
*.sublime-*
*.pyc
*.dll

# temporary scripts
_*/
*.pyw
*.lua_

# external scripts
buffextras.py
pmcolor.py
pytabcomplete.py
mymsg.py
script.py
twitch.py
undoclose.py
requiresasl.lua
requiresasl.py
greentext.py
mymsg.lua
pmcolor.lua
undo.lua
